.wrapper {
  display: flex;
  justify-content: center;

  height: 100vh;
  max-width: 100%;
  background-image: url(../src/accets/board.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
input {
  height: 30px;
  width: 250px;
  border: none;
  color: #222;
  padding: 0 10px;
  outline: none;
  margin-top: 25px;
}
.enter {
  margin-top: 25px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #fff;
  color: #222;
  margin-left: 10px;
  cursor: pointer;
}
.enter:hover {
  transform: scale(1.1);
}
.todo_item {
  position: absolute;
  cursor: pointer;
  min-width: 215px;
  color: #000;
  padding: 1em;
  border-radius: 5px;
  font: font;
}
.del_btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
  cursor: pointer;
}
